<div class="container">
  <p><%= @invoice.reference %></p>
  <p><%= @invoice.customer_name %></p>
  <p><%= @invoice.brand_manager %></p>
	<p><%= @invoice.narration %></p>

  <div>
    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Amount</th>
      </tr>
    </table>
  </div>
</div>